
:root {
  /* theme */
  /* light shade */
      --clr-primary-10: #f1f7fd;
      --clr-primary-9: #e0edf9;
      --clr-primary-8: #c8dff5;
      --clr-primary-7: #a2cbee;
      --clr-primary-6: #75aee5;
      /* main color */
      --clr-primary-5: #5591dc;
      /* dark shade */
      --clr-primary-1: #4076d0;
      --clr-primary-2: #3763be;
      --clr-primary-3: #33539e;
      --clr-primary-4:  #2d467b;
      
      /* header grey */
      --clr-grey-1: hsl(209, 50%, 30%); /* 1 */
      --clr-grey-2: hsl(209, 39%, 35%); /* 2 */
      --clr-grey-3: hsl(209, 34%, 35%); /* 3 */
      --clr-grey-4: hsl(209, 30%, 35%); /* 4 */
      /* grey for paragraph */
      --clr-grey-5: hsl(209, 22%, 49%); /* 5 */
      --clr-grey-6: hsl(209, 23%, 60%); /* 6 */
      --clr-grey-7: hsl(209, 27%, 70%); /* 7 */
      --clr-grey-8: hsl(209, 31%, 80%); /* 8 */
      --clr-grey-9: hsl(209, 33%, 90%); /* 9 */
      --clr-grey-10: hsl(209,36%, 98%); /* 10 */
      --clr-white: #fff;
      --ff-primary: 'Lato', sans-serif;
      --transition: all 0.3s linear;
      --spacing: 0.25rem;
      --radius: 0.5rem;
      --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}